
.navbar2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 40px;
  text-decoration: none;
  margin-top: -60px;
  background-color: ;
  /* border: rgb(53, 51, 51) 3px solid; */
  border-radius: 10px ;
  margin-right: 20px;
  /* border-color: rgb(53, 51, 51);
  border-style: double; */
  margin-left: 20px;
  float: right;
  }

.navRight {
  font-size: 20px;
  font-weight: 500;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(51, 48, 48);
  background-color:;
  }

#jc {
  border-color: rgb(53, 51, 51);
  border-style: solid;
  border-width:6px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
  .animate{
    display: inline-block;
    color: rgb(36, 30, 30);
    height: 100px;
    width: 100px;
    font-size: 1px;
    padding: 1px;
    
    margin-right: 5px;
    margin-left: 5px;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    
  }
  
  
  


.navbar {

  }

.home {
  background-image: url(./images/yellowHome.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  line-height: 25px;
  color: rgb(36, 30, 30);
  font-size: 28px;
  height: 100%;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.homeText {
  margin-top: 70px;
  padding-right: 10px;
  width: 200px;
  height: 40px;
}
.homeText1 {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  width: 400px;
  padding-right: 75px;
  padding-bottom: -60px;
  margin-top: -25%;
}
.homeText2 {
  color: aliceblue;
  font-size: 20px;
  height: 345px;
  width:355px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
.homePageImg {
height: 400px;
width: 1200px;
margin-top: 20px;
margin-bottom: 50px;
padding: 10px;
background-color: aliceblue;
}









.projectsHeader {
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 100%;
  /* background-color: darkorchid; */
  background-color: maroon;
  }

.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid gray; */
  background-color: darkgreen;
  width: 60%;
  height: 100vh;
  margin-top: -60px;

}


  .aboutMeMain {
  background-image: url(./images/yellowHome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  }
  .aboutHeader {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 27px;
  width:100%;
  }
.aboutHeader1 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 27px;
  width: 100%;
 /* border: 1px green solid; */
  /* background-color: hotpink; */
  margin-top: -30px;
  }

.aboutMeContainer {
  display: flex;
  justify-content: center;
  /* flex-direction: row row-reverse; */
  height: 100%;
  width: 100%;
  /* background-color: green; */
  /* border: 1px yellow solid; */
}

.aboutMe {
  display: flex;
  flex-direction:column;
  
  align-items:center;
  height: 90%;
  width: 75%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  /* border: chocolate solid 1px; */
  text-align: center;
  color: aliceblue;
  margin-top: -40px;
  text-align: justify;

  

  }

  .p1 {
    
    margin-bottom: -10px;
    color: rgb(138, 146, 153);
    
    overflow: auto;
    height: 50vh;
    text-align: justify;
  }

  .aboutMeImage {
  
  width: 125px;
  height:  175px;
  margin-top: 20px;
  /* border: blueviolet 2px solid; */
   /* margin-left: 50px;
  margin-right: 50px; */
  }


  
     
     
  
  @media (min-width: 1024px) {
    
    .aboutHeader {
      font-size: 35px;
      }
    .aboutHeader1 {
      font-size: 35px
    }
    .aboutMeImage {
      margin-top: 40px;
      width: 250px;
      height: 400px;
      border-radius: 20px;
    }
    .aboutMe {
      font-size: 27px
    }
    .p1{
      margin-top: 10px;
      /* margin-bottom: -10px; */
      color: aliceblue;
      overflow: auto;
      height: 40vh;
      /* border: black 5px solid; */
      /* border-radius: 20px; */
      }
      .homeText {
        font-size: 55px;
        width: 50%;
        margin-left: 700px;
        margin-top: 100px;
      }
      .homeText1 {
        font-size: 50px;
        width: 1000px;
        margin-left: 60px;
        margin-top: 20px;
      }
      .homeText2 {
        margin-top: 315px;
        width: 1000px;
        font-size: 30px;
      }
}


@media (max-width:1023px) {
  /* .navRight {
    margin-left: 40px;
  } */
  .aboutHeader {
    font-size: 30px;
  }
  .aboutHeader1 {
    font-size: 30px
  }
  .aboutMeImage {
    margin-top: 30px;
    width: 200px;
    height: 300px;
  }
  .aboutMe {
    font-size: 22px
  }
  .p1 {
    margin-top: 10px;
    /* margin-bottom: -10px; */
    color: aliceblue;
    overflow: auto;
    height: 40vh;
    /* border: black 5px solid; */
    /* border-radius: 20px; */
    
  }
  .homeText2 {
    margin-right: 300px;
    margin-top: 150px;

  }
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}


  @media (max-width: 600px)  {
    /* .navRight {
      margin-left: 20px;
    } */
    .aboutHeader {
      font-size: 27px;
    }
    .aboutHeader1 {
      font-size: 27px;
    }
    .aboutMeImage {
      width: 125px;
      height: 175px;
      border-radius: 20px;
    }
    .aboutMe {
      font-size: 16px;
    }
    .p1{
      margin-top: 10px;
      /* margin-bottom: -10px; */
      color: aliceblue;
      overflow: auto;
      height: 40vh;
      /* border: black 5px solid; */
      /* border-radius: 20px; */
      

    }
   .homeText2 {
     margin-right: 0px;
     margin-top: 0px;
   }
      
  }